@font-face {
    font-family: 'Impact';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../webfonts/impact.ttf);
}

.slogan {
    font-size: 80px;
    font-family: 'Impact', sans-serif;
}

.agTitle {
    font-size: 52px;
    line-height: 68px;
    font-family: 'Impact', sans-serif;
}
